#cointainrer{
    width: 500px;
    height: 470px;
    border:  1px solid black;
    border-radius: 5px;
    margin: 0 auto 10px auto;
}
p{
    margin: 0;
}


header{
    
}
#name_place{
    display: inline-block;

    margin-left: 10px;
}
#option_icon{
    display: inline-block;

    margin-right: 10px;
    float: right;
}
#image{
    width: 100%;
    height: 55%;
}
img{
    width: 100%;
    height: 100%;
}
#like_shair{
    display: inline-block;
    margin-left: 6px;
}
#date{
    display: inline-block;
    float: right;
    margin-right: 5px;
}
#no_of_like{
    margin-left: 6px;
}
#describtion{
    margin-left: 6px;
}


