#icon{
    width:150px;
}

img{
    width: 100%;
}
nav{
    /* border: 1px solid; */
    width: 241px;
    display: inline-block;
    align-items: center;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    height: 70px;
    position:fixed;
}
.varticalLine{
    width: 0;
    border: 1px solid rgb(155, 153, 153);
    height: 787px;
    position: fixed;
    left: 241px;
    bottom: -22px;
    box-sizing: border-box;
}
.createButton{
    margin: 21px 12px 0 7px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: #ffff;
    border: none;
    border-radius: 8px;
    width: 189px;
    height: 45px;
    cursor: pointer;
}
.createButton:hover{
    background-color: #e2dfdf;
}
.createButton p{
    line-height: 100%;
    padding-left: 10px;
    color: black;
    font-weight: bold;
}